@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm a senior at Ohio University studying MIS and Business Analytics. This past summer I intered with EY in Columbus as a Risk Advisory Intern. </p>
