@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hannah Wilson</h1>
    <p>A senior studying MIS and Business Analytics at Ohio University</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What's Happening</h2>
        <p>
           Check out what's happening in the business world today
        </p>
        <p><a class="btn btn-default" href="https://www.forbes.com/business/#4d77e107535f">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Work I've Done</h2>
        <p>The following link will take you to some of the projects I've completed in previous MIS courses</p>
        <p><a class="btn btn-default" href="http://cob.ohio.edu/hw601315/">View My Work &raquo;</a></p>
    </div>
   
</div>